<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your Appointment has been Approved</h1>
  <p>Dear <%= @patient.name %>,</p>
  <p>Your appointment with Dr. <%= @appointment.doctor.name %> on <%= @appointment.appointment_date %> has been approved.</p>
  <p>Thank you!</p>
</body>
</html>
